.photo_s {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    @include for-size(tablet) {
        margin-bottom: 80px;
    }
    .p1 {
        position: absolute;
        width: 340px;
        height: 227px;
        top: 50px;
        left: 0;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .p2 {
        position: absolute;
        width: 238px;
        height: 161px;
        top: 0;
        right: 20px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    @include for-size(pro) {
        padding-bottom: 18%;
        height: auto;
        .p1 {
            width: 50%;
        }
        .p2 {
            width: 35%;
        }
    }
    @include for-size(phone-only) {
        padding-bottom: 54%;
        .p1 {
            width: 55%;
        }
        .p2 {
            width: 40%;
            right: 0px;
        }
    }
}
